#page {
    width: 900px ;
    margin: 0 auto;
}
#header {
    width: 100% ;
    height: 80px;
    background-color: rgb(22, 212, 16);
}

#main{
    display: flex;
}

#sidebar {
    width: 150px ;
    height: 680px;
    background-color: rgb(34, 33, 126);
    
}

#content {
    width: 750px ;
    height: 500px;
    background-color: rgb(134, 13, 108);
}
#footer {
    width: 100% ;
    height: 100px;
    background-color: rgb(226, 15, 15);
}