#container1 {
    background-color: rgb(151, 201, 241);
    width: 80%;
    height: 400px;
    display: flex; 
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-around ;
        align-items: center ;
}
body {
    margin: 0, auto; 
}
.box {
    background: rgb(171, 114, 218);
    width: 100px;
    height: 100px;
}

aling-self 